{% extends 'app/base.html' %}
{% load static %}
{% block nghe_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link href="{% static 'app/css/nghe.css' %}" rel="stylesheet" />
    <script src="{% static 'app/js/nghe.js' %}" defer></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">  
</head>
<body>
    <br>
    <div class="player nghe" id="main-player">
        <div class="wrapper nghe">
            <div class="details nghe">
                <div class="now-playing nghe"></div>
                <div class="track-art nghe">
                    <img src="" id="track-art">
                </div>
                <div class="track-name nghe" id="track-name"></div>
                <div class="track-artist nghe" id="track-artist"></div>
                <div class="audio-player nghe">
                    <audio controls id="audio-player" onplay="handlePlay()" onpause="handlePause()">
                        <source id="audio-source" src="" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
            <div class="buttons nghe">
                <div class="random-track nghe" onclick="randomTrack()">
                    <i class="fas fa-random fa-2x nghe" title="random"></i>
                </div>
                <div class="prev-track nghe" onclick="prevTrack()">
                    <i class="fa fa-step-backward fa-2x nghe"></i>
                </div>
                <div class="playpause-track nghe" onclick="playpauseTrack()">
                    <i class="fa fa-play-circle fa-5x nghe" id="play-button"></i>
                    <i class="fa fa-pause-circle fa-5x nghe" id="pause-button" style="display: none;"></i>
                </div>
                <div class="next-track nghe" onclick="nextTrack()">
                    <i class="fa fa-step-forward fa-2x nghe"></i>
                </div>
                <label class="ui-bookmark">
                    <input type="checkbox" />
                    <div class="bookmark">
                      <svg
                        viewBox="0 0 16 16"
                        style="margin-top:4px"
                        class="bi bi-heart-fill"
                        height="25"
                        width="25"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                    </div>
                  </label>
            </div>
        </div>
    </div>

    <div id="song-list">
    {% for baihat in baihats %}
    <div class="song" onclick="loadTrack({{ baihat.id }}, '{{ baihat.ten }}', '{{ baihat.casi }}', '{{ baihat.ImageURL }}', '{{ baihat.AudioURL }}')">
        <img src="{{ baihat.ImageURL }}" alt="{{ baihat.ten }}" width="50">
        <div>{{ baihat.ten }} - {{ baihat.casi }}</div>
    </div>
    {% endfor %}
    </div>

    <script>
        // Xử lý sự kiện DOMContentLoaded để cập nhật danh sách bài hát từ template Django
        document.addEventListener("DOMContentLoaded", function() {
            trackList = [
                {% for baihat in baihats %}
                {
                    id: {{ baihat.id }},
                    ten: "{{ baihat.ten }}",
                    casi: "{{ baihat.casi }}",
                    imageURL: "{{ baihat.ImageURL }}",
                    audioURL: "{{ baihat.AudioURL }}"
                },
                {% endfor %}
            ];
        });
    </script>
</body>
</html>
{% endblock nghe_content %}
